# Buffer 0
buffers {
   size_kb: 65536
   fill_policy: DISCARD
}

# Ftrace block I/O data from the kernel
data_sources: {
    config {
        name: "linux.ftrace"
        ftrace_config {
          ftrace_events: "block_bio_backmerge"
          ftrace_events: "block_bio_bounce"
          ftrace_events: "block_bio_complete"
          ftrace_events: "block_bio_frontmerge"
          ftrace_events: "block_bio_queue"
          ftrace_events: "block_bio_remap"
          ftrace_events: "block_dirty_buffer"
          ftrace_events: "block_getrq"
          ftrace_events: "block_plug"
          ftrace_events: "block_rq_abort"
          ftrace_events: "block_rq_complete"
          ftrace_events: "block_rq_insert"
          ftrace_events: "block_rq_issue"
          ftrace_events: "block_rq_remap"
          ftrace_events: "block_rq_requeue"
          ftrace_events: "block_sleeprq"
          ftrace_events: "block_split"
          ftrace_events: "block_touch_buffer"
          ftrace_events: "block_unplug"
        }
    }
}

# Resolve process commandlines and parent/child relationships, to better
# interpret the ftrace events, which are in terms of pids.
data_sources {
  config {
    name: "linux.process_stats"
    target_buffer: 0
  }
}

# 10s trace, but can be stopped prematurely.
duration_ms: 10000
